
.storiesContainer{
border: 1px solid rgb(226, 214, 214);
padding: 2.5% 1%;
/* width: 45%; */

margin: auto;
/* margin-top:70px; */
/* display: flex; */
background-color: white;
border-radius: 3px;
box-shadow: 2px 2px 2px 2px rgba(240, 236, 236, 0.082);
}
.left{
    color: red;
}
.progressBar{
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
 width: 80%;
margin:auto;
    /* background-color: gray; */
    
}
.progressBar >*{
    flex-grow: 1;
    margin: 5px;

}

.viewStory{
    background-color: #1A1A1A;
    padding: 1%;
    margin: auto;
}
.singleStory{
    display: flex;
    justify-content: space-between;
    /* width: 50%; */
    color: white;
    min-height: 500px;

}

.singleStory > div{
display: flex;
justify-content: space-between;

}
.singleStory > div >i{
    margin-right: 15px;
    font-size: 18px;
    background-size: contain;
    cursor: pointer;
}
.singleStoryButtons{
    margin-top: 15px;
}
.singleStory > :nth-child(1){
   width:100px;
}
.singleStory > :nth-child(1) > span{
    margin-top: 15px;
    font-size: 14px;
    margin-left: 10px;
}
.singleStory > :nth-child(1) > img{
width: 60px;
height: 60px;
}
