
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
img{
    display: block; 
}
.card{

    width: 100%;
    max-width: 50rem;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
    margin-top: 1.25rem;
}

.card-top{ 
    width: 100%;
    justify-content: space-between;
    padding: 0.875rem 1rem;

}
.userImage{ 

    width:3rem;
    height: 3rem;
    margin-right: 1.3rem;
    
}
.user-name{ 
    font-size: 1.2rem;
    font-weight: 700;
    



}
.user-location{ 
    font-size: 1rem;
    color: rgb(38, 38, 38);

}
.round{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.more{
    width: 2rem;
}
.card-image{
    width: 100%;
    height: 40rem;

}

.card-image img{
    width: 100%;
    height: 100%;
    display: block;
}

.icons{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.icons:hover{ 
    cursor: pointer;
}

.likes{
    font-size: 1rem;
    font-weight: 700;
}



.form{
    border-top: 1px solid #dbdbdb;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.smileImage{
    background-color: white;
    height: 2rem;
    cursor: pointer;
}

.comment-input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    color: gray;
    background: transparent;
}

.btn{
    border: none;
    background: transparent;
    color: rgb(0, 149, 246);
    font-size: 1.2rem;
    font-weight: 600;
}
