.customFileInput::-webkit-file-upload-button {
    visibility: hidden;
    /* max-width: 1px; */
    position: relative;
  }
  .customFileInput{
    position: relative;
    /* text-align: center;
    align-items: center; */
    max-width: 9.1%;
    left: 32%;
    margin: 2% auto;
  }
  .customFileInput::before {
    
    content: 'Select Post';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border-radius: 3px;
    padding: 7px 10px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid rgb(7, 218, 207);
  }
  .customFileInput:hover::before {
    border: 1px solid white;
    text-align: center;
    align-items: center;
    background-color: rgb(7, 218, 207);
    border: 0px solid white;
}
  .customFileInput:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    border: 0px solid white;
  }