.mainDiv{
   width: 75%;
   
 
   background-color: #fff;
   margin: 70px auto;
   border: 1px solid #d2dbdb;
   display: flex;


}
.leftDiv{
    width:25% ;
    cursor: pointer;
    border-right: 1px solid #d2dbdb ;
}
.title {
    border-left: 3px solid black;
    padding: 10px 17px;
}

.title > p{
 font-weight: 600;
 font-size: 20px;
 
}
.otherTitle{

    padding: 10px 17px; 
}
.otherTitle > p{
    font-size: 16px;
    
}
.switch{
    padding: 10px 17px; 
}
.switch > p{
  font-size: 19px;
  font-weight: 600;
  color: #0095F6;
}
.switch1{
    padding: 5px 17px; 
    margin-top: -25px;
    padding-bottom: 50px !important;
    border-bottom:1px solid #d2dbdb ;
   
}
.switch1 > p{
    font-size: 19px;
    font-weight: 600;
    color: #0095F6;
}
.switch2{
    padding: 10px 17px; 
    margin-top: -20px;
}
.switch2 > p{
  font-size: 19px;
  font-weight: 600;
  color: #0095F6;
}
.leftLast{
    margin-top: -20px;
    padding: 10px 17px; 
    margin-right: -7px;

}
.leftLast > p{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}
.rightDiv{
   width: 72%;
    padding-top: 1vh;
   padding-left: 7%;
  

}
.firstDiv{
    width: 80%;
    display: flex;
    
}
.avatar{
    width: 20%;
    margin-right: 4%;
    margin-top: 10px;
    padding-left: 14%;
}
.fRight{
width: 80%;
display: flex;
flex-direction: column;
gap: 10px;
}
.fRight > button{
width: 105px;
background-color: rgba(214, 211, 211, 0.623);
border: 1px solid rgb(109, 105, 105);
font-weight: 500;
font-size: 15.2px;
}
.p1{
    color: #262626;
    font-size: 20px;
}
.p2{
    color: #0095f6;
    margin-top: -7px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.secondDiv{
    width: 80%;
    display: flex;
    margin-top: 7px;
    margin-bottom: 20px;

}
.heading{
width: 20%;
text-align: right;
color: black;
font-weight: 600;
font-size: 15px;
margin-right: 4%;
/* margin-bottom: 10px; */
/* border: 1px solid black; */


}
.inputDiv{
    width: 60%;
}
.input{
   
    width: 100%;
    height: 30px;
    border:0.5px solid #8e8e8e;
   
}


.sub{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    margin-top: 10px;


}
.sub1{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    text-align: left;
}
.blue{
    color: #0095f6;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}
.sub3{
    color: #8e8e8e;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    margin-top: 25px;
    text-align: left;
}
.sub4{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
    text-align: left;
}
.tickDiv{
    display: flex;
    width: 60%;
}

.checkNextDiv{
    width: 100%;
    text-align: left;
    color: black;
    font-weight: 600;
    font-size: 15px;

}
.tick{
    margin-top: 24px;
    
    margin-right: 10px;
}
.tickBox{
 font-size: 20px;
}
.button{
    background:#0095f6 !important ;
    color: white !important;
    font-size: 16px !important;
    font-weight: 600 !important ;
    position: relative;
    left: 23%;
}
.sub5{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.final{
    color: #0095f6;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    left: 40%;
    top: 10px;
}